<html>

<head>
    {% block style %}
    {% endblock %}

    <title>TODO with Flask</title>
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/style.css')}}" >

    <script src="//twemoji.maxcdn.com/1/twemoji.min.js?2.2.3"></script>
    <script src="{{ url_for('static',filename='assets/emoji.js')}}"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        $(function() {
            $( ".dtpick" ).datepicker();
        });
    </script>

</head>

<body>
<h1>ToDo Reminder</h1>
{% block content %}
{% endblock %}
</body>

</html>