{% extends "base.html" %}

{% block style %}
    <style>
        h1{
            font-family:"Arial Black", Gadget, sans-serif;
        }
        body{
            background-color:white;
        }
    </style>
{% endblock %}

{% block content %}
    <hr>
    <h3>Update tasks with a reference</h3>
        <form method="POST" action="">
        {{ form.hidden_tag() }}
            <input type="text" name="_id" value="{{ task.id }}">
        {{ form.name.label }} {{ form.name(placeholder=task.name ,value=task.name) }}
        {{ form.desc.label }} {{ form.desc(placeholder=task.desc,value=task.desc) }}
        {{ form.date.label }} {{ form.date(class="dtpick",placeholder=task.date, value=task.date) }}
        {{ form.pr.label }} {{ form.pr(value=task.pr) }}
        {{ form.submit.label }} {{ form.submit() }}
    </form>
    <a href="/">Return to TaskList</a>
{% endblock %}

